/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */


body 
{
    background-color: #222;
}
            
.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;

}
p
{
color: white;
}
#top
{
    /* center contents */
    text-align: center;
}

#top img
{
    width: 50%
    top: 1000px;
    left: 100px;
}
#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#middle td
{
    /* left-align tables' cells */
    text-align: left;
}

#middle .nav
{
    /* center navigation pills */
    display: inline-block;
}


/* http://code.tutsplus.com/tutorials/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934 */
#middle #postits
{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  color:#fff;
}

#middle #postits p
{
  font-size:100%;
  font-weight:normal;
}
#middle #postits ul,li
{
  list-style:none;
}

#middle #postits ul
{
  overflow:hidden;
  padding:3em;
}

#middle #postits ul li a
{
  text-decoration:none;
  color:#000;
  display:block;
  height:15em;
  width:15em;
  padding:1em;
  background:orange;
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -webkit-transform:rotate(-6deg);
}

#middle #postits ul li:nth-child(even) a
{
    -webkit-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#c9c;
}
#middle #postits ul li:nth-child(3n) a
{
    -webkit-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:red;
}
#middle #postits ul li:nth-child(5n) a
{
    -webkit-transform:rotate(5deg);
    position:relative;
    top:-10px;
    background:#bbf;
}

#middle #postits ul li
{
  margin:1em;
  float:left;
}

#middle #postits ul li h2
{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
#middle #postits ul li p
{
font-family: 'Rock Salt', cursive;
  font-size:120%;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}


